<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>layout 1</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="layoutpr1.css">
  </head>
  <body>
    <div id="wrap">
    <header id="header">
      <div class="logo"> <!-- 로고 -->
        <h1><a href="#">Layout 1<span>.</span></a></h1>
      </div>
      <div class="util_menu"> <!-- 유틸 메뉴 -->
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Portfolio</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
          <li class="act"><a href="#"><div class="active">Login</div></li></a>
        </ul>
      </div>

      <div class="introduce">
        <h3>Creativity Is A Wild Mind &<br>
            A Disciplined Eye</h3>
        <p>Free html5 templates Made by <a href="#">freehtml5.co<a></p>
        <form>
          <a href="#"><input type="button" value="View Demo" class="view_demo"></a>
          <a href="#"><input type="button" value="Learn More" class="learn_more"></a>
        </form>
        </div>
      </div>
    </header>

    <section id="section">
      <div class="section_position">
      <div class="section1">
        <div><img src="hot-air-balloon.png" alt="hot-air-balloon" class="section_img"></div>
        <h4>Marketing</h4>
        <p class="section_p">Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit.</p><br>

        <p class="section_p"><a href="#">&#8594; Learn More</a></p>
      </div>
      <div class="section2">
        <div><img src="file.png" alt="hot-air-balloon" class="section_img"></div>
        <h4>Search Engine</h4>
        <p class="section_p">Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit.</p><br>

        <p class="section_p"><a href="#">&#8594; Learn More</a></p>
      </div>
      <div class="section3">
        <div><img src="wallet.png" alt="hot-air-balloon" class="section_img"></div>
        <h4>Earn Money</h4>
        <p class="section_p">Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit.</p><br>

        <p class="section_p"><a href="#">&#8594; Learn More</a></p>
      </div>
      <div class="section4">
        <div><img src="wine.png" alt="hot-air-balloon" class="section_img"></div>
        <h4>Entrepreneur</h4>
        <p class="section_p">Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit.</p><br>

        <p class="section_p"><a href="#">&#8594; Learn More</a></p>
      </div>
      <div class="section5">
        <div><img src="atom.png" alt="hot-air-balloon" class="section_img"></div>
        <h4>Stragic Plan</h4>
        <p class="section_p">Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit.</p><br>

        <p class="section_p"><a href="#">&#8594; Learn More</a></p>
      </div>
      <div class="section6">
        <div><img src="speech-bubble.png" alt="hot-air-balloon" class="section_img"></div>
        <h4>Support</h4>
        <p class="section_p">Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit.</p><br>

        <p class="section_p"><a href="#">&#8594; Learn More</a></p>
      </div>
      <span></span>
    </div>
    </section>


    <footer id="footer">
      <div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/"             title="Flaticon">www.flaticon.com</a></div>

    </footer>
<br><br><br><br><br><br><br><br><br><br>
</div>
</body>
</html>
